<!--投稿成功フラッシュ-->
<div><%= flash[:notice] %></div>

<h1>Books</h1>

<p>Title</p>
<% @books.each do |book| %>
  <%= book.title %>
<% end %>

<p>Body</p>
<% @books.each do |book| %>
  <%= book.body %>

<!--book_path(book)には隠れ.idがいる book_path(book.id)と同義-->
<!--この(book)は上記のeachで取り出した|book|-->
  <span><%= link_to "Show", book_path(book) %></span>
  <span><%= link_to "Edit", edit_book_path(book) %></span>
  <span><%= link_to "Destroy", book_path(book) , method: :delete, "data-confirm" => "削除確認メッセージ" %></span>
<% end %>



<!--新規投稿フォーム-->
<h1>New book<h1>

<% if @book.errors.any? %>
  <p><%= @book.errors.count %>errors occurred:</p>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with model: @book, url: "/books", method: :post do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Body</p>
  <%= f.text_area :body %>

  <%= f.submit "Create Book" %>
<% end %>