<div><%= flash[:notice] %></div>

<h1>Books</h1>

<p>Title</p>
<% @books.each do |book| %>
  <%= book.title %>
<% end %>

<p>Body</p>
<% @books.each do |book| %>
  <%= book.body %>
<% end %>

<span>
<%= link_to "詳細", show_book_path(@book.id) %>
</span>



<!--新規投稿フォーム-->
<h1>New book<h1>

<%= form_with model: @book, url: "books", method: :post do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Body</p>
  <%= f.text_area :body %>

  <%= f.submit "Create Book" %>
<% end %>