<!--更新成功フラッシュ-->
<div><%= flash[:notice] %></div>


<p>Title:</p>
<p><%= @book.title %></p>

<p>Body:</p>
<p><%= @book.body %></p>

<!--質:第二引数に設定するパス内とPrefix(変数.id)のidは同じ働きをする!-->
<%= link_to "Edit", edit_path(@book.id) %>
<%= link_to "Back", index_path %>